<% provide(:pg_title, "Search") %>
<%= form_with url: searches_path, local: true do |f| %>
    <%= label_tag "search[username]", "Enter a Flickr user name"%>
    <%= text_field_tag "search[username]" %>
    <%= f.submit "Search" %>
<% end %>

<% if @flickr_user && @flickr_user.valid? %>
    <h1><%= @flickr_user.username %></h1>

    <% if @flickr_user.photos.nil? %>
        <p>This user hasnt posted any photos. Maybe theyre private.</p>
    <% else %>
        <%= render "all_photos" %>
    <% end %>
<% end %>