<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:pg_title)) %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center container-fluid">
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{type} m-1") %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
